
node_modules/

logs/
*.log

bower_components/
jspm_packages/

dist/
build/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

QR/

public/urls.csv
